# Prerequisihttps://www.youtube.com/watch?v=QkETiyYWh2otes
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

/cmake-build-debug/
/.idea/
/cmake-build-release/
/bin
